.main

  .main-header
    .main-header__left
      .left-name
        test1
      .left-member
        Member:aaa
    .main-header__right
      %button{type: "submit", class:'btn',onclick:"#"} Edit

  .main-center
    .main-center__main
      .main-first__post
        .post-top
          .post-top__name
            miyata
          .post-top__day
            2020/05/08(Fry)12:00
        .post-comment
          おはよう！

      .main-second__post
        .post-top
          .post-top__name
            miyata
          .post-top__day
            2020/05/09(Sat)13:00
        .post-comment
          こんんちは！
            
    .main-footer
      %form.new_message
        .input_box
          %input{type: "text",class: "input_box__text",placeholder: "type a message"}
          %label{class: "input_box__image"}
            = icon('fas','image')
            %input{type: "file",class: "input_box__file"}
        %input{type: "submit",class: "subit-btn",value: "Send"}
