.side

  .side-header

    .header-box
      .header-box__user
        miyata

      .header-box__icon
        = link_to "#" do
          %i.fa.fa-edit
        = link_to "#" do
          %i.fa.fa-cog

  .side-main

    .side-main__first
      .side-first__name
        = link_to "#" do
          test1
      .side-first__message
        まだメッセージがありません

    .side-main__second
      .side-second__name
        = link_to "#" do
          test2
      .side-second__message
        まだメッセージがありません
