.side

  .side__header

    .side__header--list
      .header__user
        miyata

      .header__icon
        = link_to "#" do
          %i.fa.fa-edit
        = link_to "#" do
          %i.fa.fa-cog

  .side__main

    .side__group--1
      .group__name--1
        = link_to "#" do
          test1
      .group__message--1
        まだメッセージがありません

    .side__group--2
      .group__name--2
        = link_to "#" do
          test2
      .group__message--2
        まだメッセージがありません
